@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .junior-program {
      background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url(../Images/2.png);
      object-fit: cover;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

  .teenager-program {
      background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url(../Images/3.png);
      object-fit: cover;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

  .professional-program {
      background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url(../Images/4.png);
      object-fit: cover;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .animate-updown {
        animation-name: animate-updownAnim;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
    }

    @keyframes animate-updownAnim {
        from {
            transform: translateY(-20px);
        }
        to {
            transform: translateY(20px);
        }
    }

}